$HEIGHT: 40px;
$containerHeight: 80px;
$containerVerticalPadding: 5px;
$trackBorder: 1px solid #555555;
$videoTrackHeight: 45px;
$timeTrackHeight: 24px;
$videoHeight: calc(100% - #{$containerHeight} - #{$videoTrackHeight * 2} - #{$timeTrackHeight});

.videoTimeSlices {
  position: absolute;
  top: 0;
  right: 0;
  //max-height: $videoHeight;
  max-width: 416px;
  max-height: 80%;
  padding-right: 4px;
  overflow: auto;
  z-index: 22;
}

.timeSliceWrapper {
  min-height: #{$HEIGHT * 2};
  margin-bottom: 8px;
  transition: opacity 0.4s ease-in-out;
  opacity: 0.9;

  .timeSliceItemText,
  .timeSliceItemAttribute {
    min-height: $HEIGHT;
    font-size: 16px;
    color: white;
    word-break: break-all;
  }

  .timeSliceItemText {
    width: 100%;
    padding: 8px 24px;
    background-color: #ccc;
  }

  .timeSliceItemAttribute {
    width: 100%;
    padding: 8px 24px;
    text-align: left;
  }

  .timeSliceItemSubAttribute {
    font-size: 14px;
    color: #fff;
    padding: 8px 24px;
    word-break: break-all;
    line-height: 1.5;
    width: 100%;

    div {
      margin-bottom: 4px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
