.imgView {
  display: flex;
  flex-wrap: wrap;

  .item {
    margin: 0px 40px 40px 0px;
    display: flex;


    .image {
      flex: 1;
      background: #E9EBF1;
      display: flex;
      justify-content: center;
      align-content: center;

      :global {
        .ant-image {
          display: flex;
        }
      }
    }
  }
}
