$headerHeight: 60px;
$menuWidth: 240px;
$sidebarHeaderHeight: 75px;
$sidebarFooterHeight: 80px;
$prefix: bee;

.#{$prefix}-layout {
  position: relative;
  overflow: hidden;
  height: 100vh;

  &__header,
  &__footer {
    flex-shrink: 0;
    height: auto;
    background: transparent;
    padding: 0;
    line-height: inherit;
    max-height: $headerHeight;
  }

  &__container {
    flex-direction: row;
  }

  &__side {
    background: transparent;
    overflow: hidden;
    position: relative;
    z-index: 10;
    border-top: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;

    .ant-collapse-borderless > .ant-collapse-item {
      border-bottom: 1px solid #eee;
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

.#{$prefix}-footer {
  height: 40px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  position: relative;
  user-select: none;
  color: rgba(255, 255, 255, 1);
  background: rgba(68, 68, 68, 1);
  cursor: default;
  font-size: 14px;
  overflow: hidden;

  &__pagination {
    display: flex;
    align-items: center;
  }

  &__pageAll {
    margin: 0 5px;
  }

  &__zoomController {
    display: flex;
    align-items: center;
    margin-right: 8px;
  }

  &__zoomText {
    width: 72px;
    display: inline-block;
    text-align: center;
    cursor: pointer;

    .adaptIcon {
      display: none;
    }

    &:hover {
      .zoomValue {
        display: none;
      }

      .adaptIcon {
        display: inline-block;
      }
    }
  }

  &__highlight {
    margin: 0 5px;
    padding: 4px;
    border: 1px solid #cccccc;
  }
}

.#{$prefix}-page-input {
  margin: 0 5px;
  width: 50px;
  height: 24px;
  border: none;
  border-bottom: 1px solid #cccccc;
  background: transparent;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  height: 24px;
  text-align: center;
  padding: 0 6px;

  &:focus {
    box-shadow: none;
    outline: none;
    border-color: #cccccc;
  }

  &:hover {
    border-color: #cccccc;
  }
}

// 头部
.#{$prefix}-header {
  &__title {
    color: rgba(153, 153, 153, 1);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: 2;
    height: 61px;
    width: 100%;
    padding: 0 30px;
    background: #ffffff;
    border-bottom: 1px solid rgba(223, 223, 223, 1);
    box-shadow: 0px 2px 14px rgba(204, 204, 204, 0.5);
  }

  &__icon {
    margin-right: 24px;
    width: 9px;
    height: 15px;
  }

  &__name {
    font-size: 16px;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    color: #333;
  }

  &__operationNode {
    position: absolute;
  }

  &__titlePlacement {
    flex: 1;
  }

  &__lang {
    color: rgba(0, 0, 0, 0.85);

    .#{$prefix}-langCN,
    .#{$prefix}-langEN {
      cursor: pointer;

      &.active {
        font-weight: bold;
      }
    }
  }

  &__hotKey {
    display: flex;
    justify-content: space-between;

    .item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      user-select: none;

      .singleTool {
        color: rgba(255, 255, 255, 0.4); // 暂时这样设置
        margin: 0 21px;
        cursor: pointer;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    }

    .item:hover {
      color: #666fff;
    }
  }
}

// 这个东西很奇怪  不晓得用在哪里的  这样定义容易样式冲突吧
.content {
  width: 240px;
  display: flex;
  flex-direction: column;

  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      min-width: 60px;
      margin-right: 10px;
    }

    .slider {
      flex: 1;
    }
  }
}

.#{$prefix}-sidebar {
  height: 100%;
  width: 100%;
  box-shadow: 0px 2px 14px 0px rgba(204, 204, 204, 0.5);
  background: #ffffff;
  overflow: hidden;
  display: flex;
  position: relative;
  flex-direction: column;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;

  &__content {
    flex: 1;
    overflow: auto;
    background-color: #fff;

    .panel {
      margin: 0 6px;

      .imgAttributeController {
        .tools {
          .singleTool {
            color: rgb(153, 153, 153); // 暂时这样设置
            cursor: pointer;
            display: flex;
            align-items: center;

            .toolName {
              width: 100%;
              margin-left: 10px;
              font-size: 12px;
            }

            .selectedToolName {
              width: 100%;
              margin-left: 10px;
              font-size: 15px;
              color: #666fff;
            }
          }
        }

        .ant-slider-handle {
          border-color: #666fff;
        }

        .ant-slider-handle.ant-tooltip-open {
          border-color: #666fff;
        }

        .ant-slider-handle:focus {
          border-color: #666fff;
        }
      }
    }
  }

  &__level {
    padding: 20px 8px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: center;
  }

  &__toolOption {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    color: #999;
    cursor: pointer;
    &__selected {
      color: #666fff;
    }
  }

  &__toolOption + &__toolOption {
    margin-left: 16px;
  }

  &__singleTool {
    max-width: 20px;
    max-height: 20px;
    margin: 0 10px;
  }

  &__horizontal {
    width: 100%;
    height: 1px;
    background: #eee;
  }

  .dashHorizontal {
    width: 100%;
    border-bottom: 1px dashed #eee;
  }

  .sensebee-radio-group,
  .sensebee-radio-group-no-limit-height .ant-radio-group {
    max-height: calc(100vh - 61px);

    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow-y: auto;

    .ant-radio-wrapper {
      padding: 10px 5px 10px 12px;
      margin: 0;
      display: flex;
      flex: 1;
      flex-direction: row;
      align-content: center;

      .ant-radio {
        align-self: center;
      }

      &:hover {
        background: #f3f4ff;
        .sensebee-radio-icon{
          display: inline-block;
        }
      }

      > span:nth-child(2) {
        flex: 1;
        justify-content: space-between;
        display: flex;
        align-self: center;
        overflow: hidden;
      }

      .sensebee-radio-num {
        width: 20px;
        height: 20px;
        border: 1px solid rgba(204, 204, 204, 1);
        opacity: 1;
        border-radius: 2px;
        text-align: center;
        line-height: 18px;
      }

      .sensebee-radio-label {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .sensebee-radio-icon{
        margin-right: 10px;
        display: none;
      }
    }
  }

  //修改ant Slider组件的样式
  #pen-color,
  #paintBucket-color,
  #style-radius,
  #style-width,
  #style-color,
  #style-fillOpacity,
  #style-borderOpacity {
    .ant-slider {
      .ant-slider-track {
        background: #f5f5f5;
      }

      .ant-slider-dot {
        width: 0;
        height: 0;
        border: none;
      }

      .ant-slider-handle {
        background-image: url('./assets/cssIcon/slide_btn.svg');
        background-repeat: no-repeat;
        background-size: 30px 30px;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border-color: transparent;
        background-position: 3px 2px;
        margin-top: -15px;
      }

      .ant-slider-handle:focus {
        box-shadow: none;
      }

      // 新版本的 antd 的错误兼容
      .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
        color: inherit;
        font-style: normal;
        line-height: 0;
        text-align: center;
        text-transform: none;
        vertical-align: -0.125em;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        top: 50%;
        right: 16px;
        display: inline-block;
        font-size: 12px;
        transform: translateY(-50%);
      }

      .ant-collapse > .ant-collapse-item > .ant-collapse-header {
        position: relative;
        //padding: 12px 16px 12px 12px;
        color: rgba(0, 0, 0, 0.85);
        line-height: 1.5715;
        cursor: pointer;
        transition: all 0.3s;
        z-index: 10;
      }
    }

    .ant-slider-rail,
    .ant-slider-track,
    .ant-slider-step {
      background-color: none;
      height: 8px;
    }

    .ant-slider {
      .ant-slider-track {
        background: none;
      }
    }
  }

  #style-radius,
  #style-width {
    .ant-slider-step {
      .ant-slider-dot {
        height: 12px;
        background: #666666;
        border-radius: 0;
        margin-left: -2px;
      }

      .ant-slider-dot:nth-of-type(1) {
        width: 1px;
      }

      .ant-slider-dot:nth-of-type(2) {
        width: 2px;
      }

      .ant-slider-dot:nth-of-type(3) {
        width: 3px;
      }

      .ant-slider-dot:nth-of-type(4) {
        width: 4px;
      }

      .ant-slider-dot:nth-of-type(5) {
        width: 5px;
      }
    }

    .ant-slider:hover {
      .ant-slider-rail {
        background: #f5f5f5;
      }
    }
  }

  #style-color {
    .ant-slider-rail {
      background: linear-gradient(
        to right,
        rgb(0, 0, 255) 0%,
        rgb(0, 0, 255) 20%,
        rgb(0, 255, 255) 20%,
        rgb(0, 255, 255) 40%,
        rgb(0, 255, 0) 40%,
        rgb(0, 255, 0) 60%,
        rgb(255, 255, 0) 60%,
        rgb(255, 255, 0) 80%,
        rgb(255, 0, 255) 80%,
        rgb(255, 0, 255) 100%
      );
    }
  }

  #style-fillOpacity,
  #style-borderOpacity {
    .ant-slider-rail {
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 20%,
        rgba(0, 0, 0, 0.4) 20%,
        rgba(0, 0, 0, 0.4) 40%,
        rgba(0, 0, 0, 0.6) 40%,
        rgba(0, 0, 0, 0.6) 60%,
        rgba(0, 0, 0, 0.8) 60%,
        rgba(0, 0, 0, 0.8) 80%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 1) 100%
      );
    }
  }
  .#{$prefix}-scribble {
    padding: 20px;
    width: 100%;
    &__select {
      display: flex;
      justify-content: center;
      cursor: pointer;
      img {
        width: 12px;
        margin: 0px 10px;
      }
    }
    &__slider {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__circle {
      display: block;
      width: 5px;
      height: 5px;
      background: #d9d9d9;
      border-radius: 50%;
    }
  }
  &__pointCloud {
    transition: width 0.1s;
    .ant-tabs-content {
      height: 100%;
    }
  }
}

.#{$prefix}-tips {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: rgba(255, 255, 255, 0.4);
  line-height: 40px;
  opacity: 0.8;
  height: 40px;
  padding: 0 30px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  .#{$prefix}-tips__leftContent {
    max-width: 60%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .#{$prefix}-tips__path {
    max-width: 40%;
    margin-left: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

//
.annotationOperation {
  position: relative;
  flex: 1;
  overflow: hidden;

  .canvas {
    user-select: none;
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
  }
}

// components
.textInputContainer {
  padding: 20px;

  .textareaContainer {
    position: relative;

    > textarea {
      padding-bottom: 30px;
    }

    .textAreaFooter {
      position: absolute;
      width: 100%;
      bottom: 0;
      font-weight: 400;
      line-height: 20px;
      opacity: 1;
      font-size: 12px;
      color: rgba(204, 204, 204, 1);
      display: flex;
      padding: 0 10px 5px;

      .warning {
        color: #ff0000;
      }

      .hotkeyTip {
        font-size: 14px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }

      .wordCount {
        flex: 1;
        text-align: right;
      }
    }

    &.focus {
      .textAreaFooter {
        .hotkeyTip {
          opacity: 1;
        }
      }
    }

    .textareaContainer {
      position: relative;
    }

    .warning {
      outline-color: #ff0000;
      border-color: #ff0000;
    }

    .inputCount {
      position: absolute;
      bottom: 0;
      right: 5px;
      font-weight: 400;
      line-height: 20px;
      opacity: 1;
      font-size: 12px;
      color: rgba(204, 204, 204, 1);

      .warning {
        color: #ff0000;
      }
    }

    .label,
    .switchItem {
      color: #333333;
      font-size: 12px;
      line-height: 40px;
    }

    .notify {
      font-size: 12px;
      color: rgba(204, 204, 204, 1);
    }

    .toolTextAreaBox {
      position: relative;
      padding-bottom: 20px;
      border: 1px solid #d9d9d9;
      border-radius: 2px;

      &:hover {
        border-color: #40a9ff;
      }

      .textAreaFooter {
        bottom: 0;
        height: 20px;
      }

      .ant-input {
        border: none;
      }
    }

    .toolTextAreaBoxFocus {
      border-color: #40a9ff;
    }
  }

  // .clearText {
  //   width: 13px;
  //   height: 13px;
  //   display: inline-block;
  //   vertical-align: text-top;
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   background-image: url('@/assets/annotation/common/icon_clearSmall.svg');
  //   cursor: pointer;

  //   &:hover {
  //     background-image: url('@/assets/annotation/common/icon_clearSmall_a.svg');
  //   }
  // }

  .switchItem {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  .notify {
    font-size: 12px;
    color: rgba(204, 204, 204, 1);
  }
}

// hotKey
$hotkey-item-height: 46px;
$hotkey-container-padding: 7px;

.ant-popover.tool-hotkeys-popover .ant-popover-inner-content {
  max-height: 70vh;
  overflow-y: scroll;
  padding: 0;
}

.tipsBar {
  display: flex;
  height: 100%;

  .hotKeyIconGray,
  .helpIconGray {
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
  }

  .svg {
    width: 80px;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;

    &:hover {
      color: #666fff;
      background-color: #e9e9e9;
    }
  }
}

// 工具粗细透明度调整
.toolStyle {
  width: 100%;
  display: flex;
  flex-direction: column;

  .styleSlider {
    .title {
      min-width: 60px;
      margin-right: 10px;
      font-size: 12px;
      display: flex;
      align-items: center;

      .icon {
        margin-right: 5px;
      }
    }

    .slider {
      flex: 1;
    }
  }
}

// 通用工具操作
.generalOperation {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 80px;
  border-top: 1px solid #eee;
  box-shadow: 0 15px 10px 0 #eee;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .item {
    text-align: center;
    flex: 1;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
  }

  .icon {
    margin-bottom: 7px;
  }

  .toolName {
    font-size: 12px;
  }
}

.tagOperationMenu {
  .main {
    padding: 8px 8px;
    overflow: auto;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .main::-webkit-scrollbar {
    width: 0;
  }

  .keyDownIcon {
    display: inline-block;
    text-align: center;
    line-height: 20px;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid rgba(204, 204, 204, 1);
  }

  .keyDownIconActive {
    display: inline-block;
    text-align: center;
    line-height: 20px;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid rgba(204, 204, 204, 1);
    background: #6371ff;
    color: white;
  }

  .level {
    margin: 0px 0 0 -6px;

    .radioOption {
      width: 100%;
      margin-bottom: 10px;
      display: flex;
      padding: 4px 16px 4px 20px;
      cursor: pointer;
      justify-content: space-between;

      .labelMouseClick {
        margin: 0 26px;
      }
    }

    .radioOption:hover {
      background: rgba(158, 158, 158, 0.18);
    }

    .radioOption:active {
      color: #666fff;
      background: none;
    }
  }

  .singleBar {
    padding: 0 3px 0 8px;
  }

  .ant-collapse-borderless
    > .ant-collapse-item
    > .ant-collapse-content
    > .ant-collapse-content-box {
    padding-top: 4px;
  }

  .ant-collapse-content > .ant-collapse-content-box {
    padding: 0;
  }

  .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
    padding-right: 40px;
  }

  .ant-collapse-borderless > .ant-collapse-item {
    border-bottom: 0px;
  }
}

.sensebee-checkbox-group .ant-checkbox-group {
  display: flex;
  flex-direction: column;

  .ant-checkbox-wrapper {
    padding: 10px 5px 10px 12px;
    margin: 0;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-content: center;

    .ant-checkbox {
      align-self: center;
    }

    &:hover {
      background: #f3f4ff;
    }

    > span:nth-child(2) {
      flex: 1;
      justify-content: space-between;
      display: flex;
      align-self: center;
      overflow: hidden;
    }

    .sensebee-checkbox-num {
      width: 20px;
      height: 20px;
      border: 1px solid rgba(204, 204, 204, 1);
      opacity: 1;
      border-radius: 2px;
      text-align: center;
    }

    .sensebee-checkbox-label {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  height: 8px;
  background: rgb(204, 204, 204);
  opacity: 1;
  border-radius: 10px;
}

.textField {
  margin-bottom: 24px;
  position: relative;
  text-align: left;

  .label {
    margin-bottom: 8px;
    font-size: 12px;
    font-family: SourceHanSansCN-Medium;

    .required::before {
      display: inline-block;
      margin-right: 4px;
      color: #ff4d4f;
      font-size: 14px;
      font-family: SimSun, sans-serif;
      line-height: 1;
      content: '*';
    }
  }
}

.textInputContainer {
  padding: 20px;
  height: 100%;
  overflow-y: scroll;
}

.textField {
  margin-bottom: 24px;
  position: relative;
  text-align: left;

  .label {
    margin-bottom: 8px;
    font-size: 12px;
    font-family: SourceHanSansCN-Medium;

    .required::before {
      display: inline-block;
      margin-right: 4px;
      color: #ff4d4f;
      font-size: 14px;
      font-family: SimSun, sans-serif;
      line-height: 1;
      content: '*';
    }
  }
}

.textToolOperationMenu {
  padding: 20px;
  height: 100%;
  overflow-y: scroll;
}

.textToolSwitchItem{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 12px;
}

.textareaContainer {
  position: relative;
  padding: 0;
  padding-bottom: 36px;

  .textAreaFooter {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-weight: 400;
    opacity: 1;
    font-size: 12px;
    color: rgba(204, 204, 204, 1);
    display: flex;
    padding: 0 10px;

    > span {
      line-height: 16px;
    }

    .warning {
      color: #ff0000;
    }

    .hotkeyTip {
      font-size: 12px;
      opacity: 0;
      text-align: left;
      display: flex;
      flex-direction: column;
      transition: opacity 0.3s ease-in-out;
    }

    .wordCount {
      flex: 1;
      text-align: right;
      align-self: flex-end;
    }
  }

  &.focus {
    border-color: #40a9ff;

    .textAreaFooter {
      .hotkeyTip {
        opacity: 1;
      }
    }
  }

  &.invalid {
    border-color: #ff4d4f;

    &.focus {
      box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.2);
    }
  }

  .warning {
    outline-color: #ff0000;
    border-color: #ff0000;
  }

  .inputCount {
    position: absolute;
    bottom: 0;
    right: 5px;
    font-weight: 400;
    line-height: 20px;
    opacity: 1;
    font-size: 12px;
    color: rgba(204, 204, 204, 1);

    .warning {
      color: #ff0000;
    }
  }

  .notify {
    font-size: 12px;
    color: rgba(204, 204, 204, 1);
  }
}

.clearText {
  width: 13px;
  height: 13px;
  margin-left: 8px;
  display: inline-block;
  vertical-align: text-top;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('./assets/cssIcon/annotation/icon_clearSmall.svg');
  cursor: pointer;

  &:not(.disabled):hover {
    background-image: url('./assets/cssIcon/annotation/icon_clearSmall_a.svg');
  }

  &.disabled {
    cursor: not-allowed;
  }
}

.switchItem {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-family: SourceHanSansCN-Medium;

  .notify {
    font-size: 12px;
    color: rgba(204, 204, 204, 1);
  }
}

.textarea-outline {
  border: 1px solid #d9d9d9;
  border-radius: 2px;

  &.disabled {
    color: rgba(0, 0, 0, 0.25);
    background-color: #f5f5f5;
    cursor: not-allowed;
  }
}

// 组件控件的问题

.#{$prefix}-component {
  &__iconWithText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;

    .iconGroup {
      color: #666666;
      cursor: pointer;
      display: flex;
      align-items: center;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;

      margin: 0px 21px 4px;

      .icon {
        font-size: 18px;
      }
    }

    .name {
      font-size: 12px;

      color: #999999;
    }

    &:hover &__iconGroup {
      color: #666fff;
    }

    &:hover &__name {
      color: #666fff;
    }
  }

  &__annotationStepPopover {
    padding: 12px 30px;
    background: white;

    .step {
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0px;
      }

      &:hover {
        color: #666fff;
        cursor: pointer;
      }

      .name {
        margin-bottom: 6px;

        font-size: 14px;
      }

      .progress {
        font-size: 12px;
      }

      .highlight {
        color: #666fff;
      }
    }

    .isNotStart {
      color: #cccccc;

      &:hover {
        color: #cccccc;
      }
    }
  }
}

.#{$prefix}-pop-confirm {
  .ant-popover-buttons {
    min-width: 116px;
  }
}

.#{$prefix}-annotated-attribute {
  width: 240px;
  background: white;
  padding-bottom: 12px;

  &__popover .ant-popover-inner-content {
    padding: 0;
  }

  &__pin {
    cursor: pointer;
    color: #666fff;
    .anticon {
      margin-right: 4px;
    }
  }

  &__text {
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    color: #333;
    cursor: pointer;
  }

  &__item {
    height: 40px;
    line-height: 40px;
    padding: 12px;
    display: flex;
    align-items: center;
    .anticon {
      cursor: pointer;
    }
    .anticon-eye,
    .anticon-caret-down,
    .anticon-eye-invisible {
      margin-right: 8px;
    }

    &__text {
      flex: 1;
    }
  }
}

/** VideoPlayer样式 start */
$videoTipHeight: 40px;
$videoTrackHeight: 45px;
$timeTrackHeight: 24px;
$videoHeight: calc(100% - #{$videoTrackHeight * 2} - #{$timeTrackHeight});
.#{$prefix}-video-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
  overflow: hidden;
  flex: 1 1;

  .#{$prefix}-video-container {
    height: calc(100% - 80px);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction:column;

    .#{$prefix}-video {
      flex: 1 1;
    }
    .#{$prefix}-video-track{
      height: $videoHeight;
    }
  }
}

// Progress 样式
.#{$prefix}-video-progress {
  position: absolute;
  width: 100%;
  height: 10px;
  top: -3px;
  align-items: center;
  display: flex;
  cursor: pointer;

  &:hover {
    .#{$prefix}-video-slider-bar {
      height: 15px;
      width: 15px;
    }
  }

  .#{$prefix}-video-slider {
    background-color: rgba(115, 133, 159, 0.5);
    height: 4px;
    width: 100%;
    position: relative;
    &__loaded,
    &__played,
    &__holder {
      position: absolute;
      left: 0;
      height: 100%;
    }

    &__loaded {
      background-color: rgba(115, 133, 159, 1);
    }

    &__played {
      background-color: #fff;
    }
  }

  .#{$prefix}-video-slider-bar {
    cursor: pointer;
    content: '';
    height: 9px;
    width: 9px;
    background-color: #fff;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 0;
  }
}

// Controller 样式
.#{$prefix}-video-controller__wrapper {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.#{$prefix}-video-controller {
  height: 80px;
  background-color: #222;
  color: white;
  display: flex;
  align-items: center;
  padding: 8px 16px;

  .anticon {
    cursor: pointer;
  }

  &__holder {
    flex: 1;
  }

  &__playButton {
    font-size: 32px;
  }

  &__time {
    font-size: 16px;
  }

  &__speed {
    display: flex;
    align-items: center;
  }

  &__speedNum {
    display: inline-block;
    width: 32px;
    text-align: center;
  }

  &__speedButton {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__pagination {
    display: flex;
    align-items: center;
    .anticon {
      font-size: 20px;
    }
  }
  &__pageAll {
    margin: 0 5px;
  }

  &__pagination,
  &__time,
  &__playButton {
    margin-right: 16px;
  }

  &__hotkey {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    img {
      margin-right: 4px;
    }
  }
}

/** VideoPlayer样式 end */

/** PointCloud样式 start */
$pointCloudBg: #4c4c4c;
$ptPrefix: #{$prefix}-point-cloud;
$headerHeight: 40px;

@mixin icon($size: 36px) {
  display: inline-block;
  height: $size;
  width: $size;
  background-repeat: no-repeat;
  cursor: pointer;
  flex: none;
}

.#{$ptPrefix}-footer {
  height: 40px;
}

.#{$ptPrefix}-layout {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
  position: relative;
}

.#{$ptPrefix}-container {
  &__title-button {
    border-radius: 2px;
    padding: 4px 8px;
    background-color: #fff;
    color: #000000;
  }
}

.#{$ptPrefix}-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  flex: 1;

  .#{$ptPrefix}-content {
    flex: 1;
    display: flex;
    overflow: hidden;
  }

  .#{$ptPrefix}-container {
    position: relative;

    &__header {
      background-color: #4c4c4c;
      color: white;
      height: $headerHeight;
      padding: 0 16px;
      line-height: 40px;
      display: flex;
      justify-content: space-between;
    }
    &__header-title {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 500;
    }
    &__header-toolbar {
      display: flex;
      align-items: center;
      font-size: 14px;

      .#{$ptPrefix} {
        @mixin iconMg {
          margin-right: 16px;
        }
        &__rotate-reserve {
          @include icon(24px);
          @include iconMg;
          background-image: url('./assets/annotation/pointCloudTool/rotateReserve.svg');
          transform: rotateY(180deg);
        }

        &__rotate {
          @include icon(24px);
          @include iconMg;
          background-image: url('./assets/annotation/pointCloudTool/rotateReserve.svg');
        }

        &__rotate-180 {
          @include icon(24px);
          background-image: url('./assets/annotation/pointCloudTool/rotate180.svg');
        }

        &__next {
          font-size: 24px;
          cursor: pointer;
        }

        &__prev {
          font-size: 24px;
          cursor: pointer;
          @include iconMg;
        }
      }
    }

    &__slider-container {
      width: 100px;
      padding: 0px 4px;
      display: flex;
      align-items: center;
      &__circle {
        display: block;
        width: 5px;
        height: 5px;
        background: #d9d9d9;
        border-radius: 50%;
      }
      &__slider {
        width: 70px;
        padding: 0 4px 0 8px;
      }
    }

    &__header-title-box {
      position: absolute;
      top: 16px;
      left: 16px;
      z-index: 1000;
    }
  }

  .#{$ptPrefix}-container__zoom {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1001;

    .#{$ptPrefix}-container__header {
      background-color: #4c4c4c;
      height: auto;
      line-height: normal;
      color: white;
      padding: 10px 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid;
      font-size: 14px;
    }

    .#{$ptPrefix}-highlight-view {
      display: none;
    }
  }

  .#{$ptPrefix}-container__left {
    width: 455px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #fff;
    height: 100%;
    overflow: hidden;
    flex-shrink: 0;

    .#{$ptPrefix}-3d-container {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      flex: 1;

      .#{$ptPrefix}-3d-content {
        display: flex;
        flex: 1;
        overflow: hidden;

        .#{$ptPrefix}-3d-view {
          flex: 1;
          overflow: hidden;
        }
      }

      .#{$ptPrefix}-3d-sidebar {
        transition: width 0.5s;
        padding-left: 16px;
        height: 100%;
        background-color: $pointCloudBg;
        width: 36px;
        box-sizing: content-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: scroll;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .#{$ptPrefix}-3d-view {
        &__reset,
        &__followTop {
          @include icon();

          font-size: 36px;
          background-position: center;
          background-color: #444;
          border-radius: 4px;
        }

        &__reset {
          background-image: url('./assets/annotation/pointCloudTool/3DViewReset.svg');
          margin: 16px 0;
        }

        &__followTop {
          margin: 16px 0 0 0;
          background-size: 36px;
          background-image: url('./assets/annotation/pointCloudTool/followTopView.png');
        }

        &__top,
        &__front,
        &__left,
        &__right,
        &__back,
        &__bottom,
        &__lft,
        &__rbt {
          @include icon();
          background-image: url('./assets/annotation/pointCloudTool/3DViews.png');
          margin-bottom: 8px;

          &.active {
            background-image: url('./assets/annotation/pointCloudTool/3DViewsActive.png');
          }
        }

        &__top {
          background-position: 0 0;
        }

        &__front {
          background-position-y: -44px;
        }

        &__left {
          background-position-y: -88px;
        }

        &__back {
          background-position-y: -132px;
        }

        &__right {
          background-position-y: -176px;
        }

        &__bottom {
          background-position-y: -220px;
        }

        &__lft {
          background-position-y: -264px;
        }

        &__rbt {
          background-position-y: -308px;
          margin-bottom: 0px;
        }
      }

      .#{$ptPrefix}-3d-sidebarZoom {
        padding-left: 16px;
        height: 100%;
        background-color: $pointCloudBg;
        box-sizing: content-box;
        display: flex;

        .#{$ptPrefix}-3d-view {
          &__reset {
            margin: 0px 4px;
          }

          &__followTop {
            margin: 0px 4px;
          }

          &__top,
          &__front,
          &__left,
          &__right,
          &__back,
          &__bottom,
          &__lft,
          &__rbt {
            background-color: #444;
            border-radius: 4px;
            margin: 0px 4px;
          }
        }
      }
    }

    .#{$ptPrefix}-container__left-bottom-float {
      position: fixed;
      bottom: 0px;
      right: 0px;
      z-index: 1003;
      border: 1px solid #fff;

      .#{$ptPrefix}-container__left-bottom-floatHeader {
        line-height: 24px;
        font-size: 12px;
        width: 100%;
        color: #fff;
        background-color: #969696;
        text-align: center;
        cursor: grabbing;
      }
    }

    .#{$ptPrefix}-container__left-bottom {
      flex: 1;
      flex-direction: column;
      display: flex;
      overflow: hidden;

      .#{$ptPrefix}-container__empty-page {
        position: absolute;
        left: 0;
        top: 0;
        flex: 1;
        background: black;
        color: #666666;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 12px;
        z-index: 20;
        height: 100%;
        width: 100%;
        .#{$ptPrefix}-container__empty-page__text {
          margin-top: 8px;
        }
      }
      .#{$ptPrefix}-container__side-view,
      .#{$ptPrefix}-container__back-view {
        position: relative;
        flex: 1;
        display: flex;
        background: black;
        flex-direction: column;
        border-top: 1px solid white;

        .#{$ptPrefix}-container__bottom-view-content {
          flex: 1;
          .#{$ptPrefix}-container__core-instance {
            position: relative;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .#{$ptPrefix}-container__rightZoom {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1002;

    .#{$ptPrefix}-container__header {
      background-color: #4c4c4c;
      height: auto;
      line-height: normal;
      color: white;
      padding: 10px 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid;
      font-size: 14px;
    }
  }

  .#{$ptPrefix}-container__right {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #444;

    .#{$ptPrefix}-container__top-view {
      border-bottom: 1px solid #fff;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      flex: 3;
    }

    .#{$ptPrefix}-container__right-bottom-floatLeft {
      position: absolute;
      top: 54px;
      left: 0px;
      width: 300px;
      height: 100%;
      overflow-y: auto;
      z-index: 100;

      .#{$ptPrefix}-2d-container {
        flex-direction: column;
        display: flex;
        overflow: hidden;
        flex-shrink: 0;
      }

      .#{$ptPrefix}-2d-image {
        flex: 1;
        background-color: $pointCloudBg;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
      }
    }

    .#{$ptPrefix}-container__right-bottom {
      flex: 1;
      display: flex;
      overflow: auto;

      .#{$ptPrefix}-2d-container {
        flex-direction: column;
        display: flex;
        overflow: hidden;
        flex-shrink: 0;
      }

      .#{$ptPrefix}-2d-image {
        flex: 1;
        height: 100%;
        background-color: $pointCloudBg;
        border-right: 1px solid #fff;
      }
    }
  }
}

$ptToolHeight: 40px;

.#{$ptPrefix}-status__operation {
  z-index: 200;
  position: absolute;
  left: 50%;
  top: calc($ptToolHeight + 20px);
  transform: translateX(-50%);
  display: flex;
  .#{$ptPrefix}-status__button {
    background-color: white;
    padding: 7.5px 16px;
    border: 0.5px solid rgb(196, 196, 196);
    cursor: pointer;
    border-radius: 2px;
    display: flex;
    align-items: center;
  }
}

.#{$ptPrefix}-status__info {
  z-index: 200;
  position: absolute;
  right: 20px;
  top: calc($ptToolHeight + 20px);

  padding: 16px;
  color: white;
  background: rgb(51, 51, 51);
  border-radius: 2px;
}

.#{$ptPrefix}-status__icon {
  margin-right: 5px;
}

.#{$ptPrefix}-toolbar {
  height: 40px;
  padding: 10px 26px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(102, 102, 102);

  .#{$ptPrefix}-toolbox {
    margin-left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img {
      height: 24px;
      width: 24px;
    }
  }
}

/** LLM style */

.#{$prefix}-LLMLayout {
  overflow: hidden;
}

.#{$prefix}-LLMView-question {
  flex: 1;
  overflow: hidden;
}

.#{$prefix}-LLMView {
  height: 100%;
  background-color: #ffffff;
  overflow-y: auto;
  flex: auto;

  .ant-layout {
    flex: 1;
  }

  &__textBox {
    padding: 26px 32px;
  }

  &__title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
  }

  &__content {
    font-weight: 500;
    font-size: 14px;
    display: flex;
    margin-bottom: 24px;
    width: 100%;
  }

  &__tag {
    color: #666FFF;
    background: #eeefff;
    height: 20px;
    padding: 0px 8px;
    border: none;
  }

  &__headerContent {
    font-weight: 500;
    font-size: 14px;
    overflow: auto;
    height: calc(100% - 54px);
  }

  &__contentActive {
    background-color: #eeefff;
    border: 1px solid #666fff;
  }

  &__answer {
    flex: 1;
  }

  &__loading {
    display: inline-flex;
    align-items: center;
    gap: 0 4px;
  }

  &__failed {
    color: #f26549;
  }

  &__footer {
    display: flex;
    justify-content: end;
    span {
      display: inline-flex;
      align-items: center;
      color: #666fff;
      gap: 0 4px;
      cursor: pointer;
    }
  }
}
.#{$prefix}-LLMSidebar {
  overflow-y: auto;
}

.#{$prefix}-LLMSidebar-contentBox {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  &__title {
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    line-height: 46px;
  }

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    height: 46px;
  }

  &__answerBox {
    display: flex;
    border: 1px dashed #d9d9d9;
    border-radius: 4px;
    flex: 1;
    min-height: 46px;
    flex-wrap: wrap;
  }

  &__answerTag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #ebebeb;
    font-size: 14px;
    color: #333333;
    margin: 4px;
    cursor: pointer;
  }

  &__answerTagGhost {
    border: 1px dashed #d9d9d9;
    background: none;
  }
}

.#{$prefix}-LLMSidebar-contentBox-sortableHelper {
  background-color: #8c9aff;
  cursor: row-resize;
  z-index: 100;
  cursor: pointer;
}

.#{$prefix}-LLMSidebar-indicatorScore {
  display: flex;
  align-items: center;
}

.#{$prefix}-LLMSidebar-indicatorScore-title {
  .ant-popover-inner-content {
    max-width: 300px;
    max-height: 400px;
    overflow: auto;
    word-break: break-all;
  }
}

.#{$prefix}-LLMSidebar-panel {
  padding: 16px;

  .ant-collapse-header {
    padding: 0px 16px !important;
    margin-bottom: 12px;
  }
  .ant-collapse-content > .ant-collapse-content-box {
    padding: 0;
  }
}

.#{$prefix}-LLMSidebar-errorPanel {
  .ant-collapse-header {
    border: 1px solid #f26549;
    border-radius: 2px;
  }
}

.#{$prefix}-LLMSidebar-panelHover {
  .ant-collapse-header {
    background-color: #eeefff;
  }
}

/** longText style */
.#{$prefix}-longText {
  display: flex;
  align-items: center;
  .moreIcon {
    color: #999;
    cursor: pointer;
  }
  .ant-popover-open {
    color: #1664ff;
  }
}

.#{$prefix}-longText-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.#{$prefix}-longText-popover {
  .ant-popover-inner-content {
    max-width: 300px;
    max-height: 400px;
    overflow: auto;
    word-break: break-all;
    white-space: pre-wrap;
  }
}
/** PointCloud样式 end */

$predictTrackingPrefix: #{$prefix}-point-cloud-predict-tracking;
.#{$predictTrackingPrefix}-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1005;
  .#{$predictTrackingPrefix}-container__bar {
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    bottom: 40px;
    background: #444;
    color: white;
    padding: 20px 24px;
    display: flex;
    flex-flow: column;

    .#{$predictTrackingPrefix}-container__title {
      font-size: 24px;
      color: #fff;
      display: flex;
      justify-content: space-between;
      .#{$predictTrackingPrefix}-container__option {
        display: flex;
        .#{$predictTrackingPrefix}-container__button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 88px;
          height: 32px;
          color: white;
          border-radius: 4px;
          border: 1px solid transparent;
          cursor: pointer;
          font-size: 14px;
        }
        .#{$predictTrackingPrefix}-container__okOption {
          color: #555350;
          background: white;
        }
        .#{$predictTrackingPrefix}-container__cancelOption {
          margin-right: 16px;
          color: white;
          background: transparent;
          border: 1px solid white;
        }
      }
    }
    .#{$predictTrackingPrefix}-container__content {
      display: flex;
      flex: 1;
      .#{$predictTrackingPrefix}-container__left {
        width: 140px;
        div {
          height: 33.3%;
          align-items: center;
        }
      }
      .#{$predictTrackingPrefix}-container__right {
        display: flex;
        gap: 40px;
        flex: 1;
        overflow: auto;
        .#{$predictTrackingPrefix}-container__item {
          display: flex;
          flex-direction: column;
          gap: 20px;
          .#{$predictTrackingPrefix}-container__view {
            width: 180px;
            height: 110px;
            background-color: palegreen;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

.generate-view {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -200;
}

.bee-audio-clip{
  cursor: url('./assets/annotation/audio/blackClip.svg'), default;
}
.bee-audio-combined{
  cursor: url('./assets/annotation/audio/combine.svg') 10 12, default;
}
