.switchBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
}

.switchLeft{
    display: flex;
    align-items: center;
}

.switchTitle{
    margin-right: 8px;
}