.latexEditor {
  line-height: 32px;
  background-color: #ededed;
  border-radius: 2px;
  position: relative;
}

.latexHeaderTitle {
  cursor: pointer;
  padding: 0px 12px;
  display: inline-block;
}

.dropContent {
  display: flex;
  box-shadow: 0px 2px 14px 2px rgba(204, 204, 204, 0.5);
  min-width: 400px;
  overflow: auto;
  min-height: 300px;
  max-height: 600px;
  background: #fff;
}

.itemList {
  height: 100%;
  border-right: 1px solid #eee;

  .item {
    padding: 6px 12px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.itemActive {
  background: #e6f7ff;
  font-weight: 700;
}

.lastNode {
  width: 380px;
  display: flex;
  padding: 4px;
  flex-wrap: wrap;

  .markdownItem {
    padding: 2px 4px;
    margin: 4px;
    min-width: 40px;
    height: auto;
    background-color: #ebebeb;

    :global {
      .markdown-body {
        background-color: #ebebeb;
      }
    }
  }
}
